#openingHoursTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paper {
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openingHoursTable tr td{
    text-align: center;
    font-size: 15px;
}

.openingHoursTable tr th{
    font-size: 18px;
}

.newsPaper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.newsImg {
    width: 100%;
    border-radius: 1rem;
}

.imageText {
    color: white;
    margin-left: 1rem;
    margin-top: -2.8rem;
}
