html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

html {
    --main: #fff;
    --secondary: #94db89;
    --secondaryDark: #58924f;

    --secondaryHover: #76c76b;
}